In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('accepted_2007_to_2018Q4.csv', encoding = 'utf-8', index_col=0)
df.info()

C:\Users\User\AppData\Local\Temp\ipykernel_10712\465299167.py:3: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('accepted_2007_to_2018Q4.csv', encoding = 'utf-8', index_col=0)

<class 'pandas.core.frame.DataFrame'>
Index: 2260701 entries, 68407277 to Total amount funded in policy code 2: 521953170
Columns: 150 entries, member_id to settlement_term
dtypes: float64(113), object(37)
memory usage: 2.5+ GB

In [ ]:
# ì‚¬ìš©í•  ì—´ ëª©ë¡ ì§€ì •
columns_to_use = ['term', 'grade', 'emp_title', 'emp_length', 
                  'home_ownership', 'verification_status', 'purpose']

# DataFrame ìƒì„±
selected_df = df[columns_to_use]

# í–‰ í™•ì¸
selected_df

,term,grade,emp_title,emp_length,home_ownership,verification_status,purpose
id,,,,,,,
68407277,36 months,C,leadman,10+ years,MORTGAGE,Not Verified,debt_consolidation
68355089,36 months,C,Engineer,10+ years,MORTGAGE,Not Verified,small_business
68341763,60 months,B,truck driver,10+ years,MORTGAGE,Not Verified,home_improvement
66310712,60 months,C,Information Systems Officer,10+ years,MORTGAGE,Source Verified,debt_consolidation
68476807,60 months,F,Contract Specialist,3 years,MORTGAGE,Source Verified,major_purchase
...,...,...,...,...,...,...,...
88985880,60 months,B,Vice President,9 years,MORTGAGE,Verified,debt_consolidation
88224441,60 months,C,Program Manager,6 years,RENT,Not Verified,debt_consolidation
88215728,60 months,C,Customer Service Technician,10+ years,MORTGAGE,Verified,debt_consolidation
Total amount funded in policy code 1: 1465324575,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total amount funded in policy code 2: 521953170,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# emp_titleì— ë“¤ì–´ê°„ ê³ ìœ í•œ ê°’ ì „ì²´ ë³´ê¸°
unique_titles = selected_df['emp_title'].unique()
print(f"ì´ ê³ ìœ í•œ ì§ì—… ìˆ˜: {len(unique_titles)}")

ì´ ê³ ìœ í•œ ì§ì—… ìˆ˜: 512695

In [12]:
# emp_title ê°’ì˜ ë“±ì¥ ë¹ˆë„ ë³´ê¸° (ìƒìœ„ 20ê°œ)
emp_title_counts = selected_df['emp_title'].value_counts(dropna=False)
print(emp_title_counts.head(21))

# nanê°’ì„ ì œê±° í•  í•„ìš”ê°€ ìˆìŒ

emp_title
NaN                   167002
Teacher                38824
Manager                34298
Owner                  21977
Registered Nurse       15867
Driver                 14753
RN                     14737
Supervisor             14297
Sales                  13050
Project Manager        10971
Office Manager          9772
General Manager         9251
Director                8934
owner                   8507
President               7660
Engineer                7304
manager                 7060
teacher                 6692
Operations Manager      6128
Vice President          5874
Accountant              5596
Name: count, dtype: int64

In [17]:
# NaN ê°œìˆ˜ í™•ì¸
print("NaN ê°œìˆ˜:", selected_df['emp_title'].isna().sum())
# ê³µë°±ë§Œ ìˆëŠ” ê°’ í™•ì¸
print("ê³µë°±ë§Œ ìˆëŠ” ê°’ ê°œìˆ˜:", (selected_df['emp_title'].astype(str).str.strip() == '').sum())

NaN ê°œìˆ˜: 167002
ê³µë°±ë§Œ ìˆëŠ” ê°’ ê°œìˆ˜: 3

In [ ]:
# ê³µë°± ê°’ê³¼ nanê°’ ì§€ìš°ê³  ìµœì¢… ì§ì—… ìˆ˜ ì‚´í´ë³´ê¸° 
# ì „ì²˜ë¦¬ ì „ ê³ ìœ ê°’ ê°œìˆ˜
original_unique_count = selected_df['emp_title'].nunique()

# ì†Œë¬¸ìí™”+ì•ë’¤ê³µë°±ì œê±° 
selected_df.loc[:, 'emp_title_clean'] = selected_df['emp_title'].str.lower().str.strip()

# ì „ì²˜ë¦¬ í›„ ê³ ìœ ê°’ ê°œìˆ˜
cleaned_unique_count = selected_df['emp_title_clean'].nunique()  
# 'emp_title_clean' ì „ì²˜ë¦¬í•œ ê²°ê³¼ë¥¼ ë‹´ì€ ì¹¼ëŸ¼ !!!!!!!!!!!!!!!!!

print(f"ì „ì²˜ë¦¬ ì „ ì§ì—… ìˆ˜: {original_unique_count}")
print(f"ì „ì²˜ë¦¬ í›„ ì§ì—… ìˆ˜: {cleaned_unique_count}")

ì „ì²˜ë¦¬ ì „ ì§ì—… ìˆ˜: 512694
ì „ì²˜ë¦¬ í›„ ì§ì—… ìˆ˜: 411810

In [55]:
# NaN ì œì™¸í•œ ì „ì²˜ë¦¬ëœ ì§ì—…ëª… ê³ ìœ ê°’ ê°œìˆ˜
cleaned_unique_count_no_nan = selected_df['emp_title_clean'].dropna().nunique()

# NaN ì œì™¸í•˜ê³  ë¹ˆë„ìˆ˜ ì§‘ê³„
emp_title_clean_counts = selected_df['emp_title_clean'].dropna().value_counts()

print(f"\n NaN ì œì™¸ í›„ ê³ ìœ  ì§ì—… ìˆ˜: {cleaned_unique_count_no_nan}")
print("\n ì „ì²˜ë¦¬ëœ emp_title (NaN ì œì™¸) ìƒìœ„ 20ê°œ:")
print(emp_title_clean_counts.head(20))

 NaN ì œì™¸ í›„ ê³ ìœ  ì§ì—… ìˆ˜: 411810

 ì „ì²˜ë¦¬ëœ emp_title (NaN ì œì™¸) ìƒìœ„ 20ê°œ:
emp_title_clean
teacher               48460
manager               45852
owner                 33591
registered nurse      23354
supervisor            22306
driver                22267
sales                 18984
rn                    17196
office manager        14231
project manager       13842
general manager       13317
truck driver          12797
director              10595
president              9826
engineer               8978
sales manager          8532
operations manager     8183
police officer         7675
vice president         7625
technician             7437
Name: count, dtype: int64

íŠ¹ì • í‚¤ì›Œë“œë¡œ ì§ì—…êµ° ë¬¶ê¸°

In [66]:
# í†µí•©í•  ëŒ€í‘œ í‚¤ì›Œë“œ ë¦¬ìŠ¤íŠ¸
keywords_to_group = [
    'manager', 'nurse', 'driver', 'supervisor', 'sales', 
    'officer', 'director', 'engineer', 'technician', 'president',
    'teacher', 'owner','assistant','operator','service']

# í‚¤ì›Œë“œ í¬í•¨ ì—¬ë¶€ì— ë”°ë¼ ë¶„ë¥˜, ì—†ìœ¼ë©´ ì›ë˜ ì´ë¦„ ìœ ì§€
def group_job_title(title):
    if pd.isna(title):
        return np.nan
    for keyword in keywords_to_group:
        if keyword in title:
            return keyword
    return title  # í‚¤ì›Œë“œ í¬í•¨ ì•ˆ ë˜ë©´ ì›ë˜ ê°’ ê·¸ëŒ€ë¡œ ìœ ì§€

# ì ìš©: emp_title_clean ê¸°ì¤€ìœ¼ë¡œ í†µí•© ì»¬ëŸ¼ ìƒì„±
selected_df['emp_title_grouped'] = selected_df['emp_title_clean'].apply(group_job_title)
# 'emp_title_grouped'ì€ ì „ì²˜ë¦¬í•œ ê²°ê³¼ ì¹¼ëŸ¼ì—ì„œ íŠ¹ì • í‚¤ì›Œë“œë¼ë¦¬ í¬í•¨í•œ ê²°ê³¼ë¥¼ ë‹´ì€ ì¹¼ëŸ¼!!!!!!!!!!!!!

# ê²°ê³¼ í™•ì¸
print(selected_df['emp_title_grouped'].value_counts().head(30))

emp_title_grouped
manager           310145
director           77073
supervisor         59981
teacher            59099
sales              58466
engineer           55412
assistant          53816
driver             52611
nurse              44633
owner              41706
officer            41609
technician         40738
service            40175
operator           28967
president          27343
rn                 17196
accountant          6891
mechanic            6548
attorney            6375
server              5764
analyst             5009
electrician         4965
foreman             4740
paralegal           4549
maintenance         4115
consultant          3899
ceo                 3818
controller          3774
clerk               3747
superintendent      3679
Name: count, dtype: int64

In [67]:
unique_job_count = selected_df['emp_title_grouped'].nunique()
print(f"'emp_title_grouped'ì˜ ê³ ìœ  ì§ì—…ëª… ê°œìˆ˜: {unique_job_count}")

'emp_title_grouped'ì˜ ê³ ìœ  ì§ì—…ëª… ê°œìˆ˜: 282233

In [70]:
# rnë¥¼ í†µì¼ì‹œí‚¤ëŠ” ì½”ë“œ 2ë²ˆ í™•ì¸ìš© 
keywords_to_group = [
    'manager', 'nurse', 'driver', 'supervisor', 'sales', 
    'officer', 'director', 'engineer', 'technician', 'president',
    'teacher', 'owner', 'assistant', 'operator', 'service'
]

def group_job_title(title):
    if pd.isna(title):
        return np.nan
    
    # ë¨¼ì € rnì„ nurseë¡œ í†µì¼ ì²˜ë¦¬ rnì´ ì•½ì–´ë¼ê³  í•¨.
    if 'rn' in title:
        return 'nurse'
    
    for keyword in keywords_to_group:
        if keyword in title:
            return keyword
    return title  # í‚¤ì›Œë“œ í¬í•¨ ì•ˆ ë˜ë©´ ì›ë˜ ê°’ ê·¸ëŒ€ë¡œ ìœ ì§€

selected_df['emp_title_grouped'] = selected_df['emp_title_clean'].apply(group_job_title)

print(selected_df['emp_title_grouped'].value_counts().head(50))

emp_title_grouped
manager              307274
nurse                 93373
director              76194
supervisor            59292
teacher               59086
sales                 58031
engineer              55342
assistant             53350
driver                52599
officer               41529
owner                 41499
technician            40668
service               39820
operator              28854
president             27263
accountant             6891
mechanic               6548
server                 5764
analyst                5009
electrician            4965
foreman                4740
paralegal              4549
maintenance            4115
consultant             3899
ceo                    3818
controller             3774
clerk                  3747
superintendent         3679
administrator          3615
account executive      3423
principal              3283
machinist              3189
business analyst       3161
lpn                    3137
cashier                3104
bartender              3094
secretary              2964
cna                    2916
professor              2906
laborer                2863
social worker          2818
physician              2640
pharmacist             2604
associate              2570
cook                   2536
welder                 2504
financial advisor      2480
receptionist           2387
bookkeeper             2323
carpenter              2309
Name: count, dtype: int64

In [69]:
unique_job_count = selected_df['emp_title_grouped'].nunique()
print(f"'emp_title_grouped'ì˜ ê³ ìœ  ì§ì—…ëª… ê°œìˆ˜: {unique_job_count}")

'emp_title_grouped'ì˜ ê³ ìœ  ì§ì—…ëª… ê°œìˆ˜: 274050

33ê°œ nanê°’ ê°€ì§€ê³  ìˆëŠ” ëª¨ë“  ë²”ì£¼í˜•ì— ëŒ€í•´ ì•Œì•„ë³´ê¸°

In [71]:
# ì—¬ëŸ¬ ì»¬ëŸ¼ì—ì„œ ëª¨ë‘ NaNì¸ í–‰ ì°¾ê¸°
cols_with_33_nans = ['term', 'grade', 'home_ownership', 'verification_status', 'purpose']

# í•´ë‹¹ ì»¬ëŸ¼ ëª¨ë‘ NaNì¸ í–‰ í•„í„°ë§
nan_rows = selected_df[selected_df[cols_with_33_nans].isnull().all(axis=1)]

# ê²°ê³¼ ì¶œë ¥
print(f"í•´ë‹¹ 5ê°œ ì»¬ëŸ¼ì´ ëª¨ë‘ NaNì¸ í–‰ ê°œìˆ˜: {len(nan_rows)}")
display(nan_rows.head())

í•´ë‹¹ 5ê°œ ì»¬ëŸ¼ì´ ëª¨ë‘ NaNì¸ í–‰ ê°œìˆ˜: 33

,term,grade,emp_title,emp_length,home_ownership,verification_status,purpose,emp_title_clean,emp_title_grouped
id,,,,,,,,,
Total amount funded in policy code 1: 6417608175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total amount funded in policy code 2: 1944088810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total amount funded in policy code 1: 1741781700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total amount funded in policy code 2: 564202131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total amount funded in policy code 1: 1791201400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
# ëª¨ë“  ì»¬ëŸ¼ì—ì„œ í•´ë‹¹ ë¬¸ìì—´ì´ í¬í•¨ëœ í–‰ ì°¾ê¸°
mask = selected_df.apply(lambda row: row.astype(str).str.contains("Total amount funded in policy code 1: 6417608175", na=False)).any(axis=1)

# í•´ë‹¹ í–‰ ì¶œë ¥
matching_row = selected_df[mask]
display(matching_row)

Empty DataFrame
Columns: [term, grade, emp_title, emp_length, home_ownership, verification_status, purpose, emp_title_clean, emp_title_grouped]
Index: []

In [20]:
# ê° ë²”ì£¼í˜• ì»¬ëŸ¼ì— NaNì´ ì–¼ë§ˆë‚˜ ìˆëŠ”ì§€ í™•ì¸
nan_counts = selected_df.isna().sum()
print("ğŸ“Œ ê° ì»¬ëŸ¼ë³„ NaN ê°œìˆ˜:\n", nan_counts)

ğŸ“Œ ê° ì»¬ëŸ¼ë³„ NaN ê°œìˆ˜:
 term                       33
grade                      33
emp_title              167002
emp_length             146940
home_ownership             33
verification_status        33
purpose                    33
emp_title_clean        167002
dtype: int64

In [31]:
# ê° ë²”ì£¼í˜• ì»¬ëŸ¼ì˜ ê³ ìœ ê°’ê³¼ ë¹ˆë„ìˆ˜ í™•ì¸
for col in selected_df.columns:
    print(f"\n [{col}] ê³ ìœ ê°’ ëª©ë¡ (NaN í¬í•¨):")
    print(selected_df[col].value_counts(dropna=False))

 [term] ê³ ìœ ê°’ ëª©ë¡ (NaN í¬í•¨):
term
 36 months    1609754
 60 months     650914
NaN                33
Name: count, dtype: int64

 [grade] ê³ ìœ ê°’ ëª©ë¡ (NaN í¬í•¨):
grade
B      663557
C      650053
A      433027
D      324424
E      135639
F       41800
G       12168
NaN        33
Name: count, dtype: int64

 [emp_title] ê³ ìœ ê°’ ëª©ë¡ (NaN í¬í•¨):
emp_title
NaN                                      167002
Teacher                                   38824
Manager                                   34298
Owner                                     21977
Registered Nurse                          15867
                                          ...
Community Relations/Exec Assistant            1
Site Acquistion Specialist                    1
Director of Loan Orgination                   1
Sr. Tax Law Specialist - EP                   1
Vice President, MF Agency Underwriter         1
Name: count, Length: 512695, dtype: int64

 [emp_length] ê³ ìœ ê°’ ëª©ë¡ (NaN í¬í•¨):
emp_length
10+ years    748005
2 years      203677
< 1 year     189988
3 years      180753
1 year       148403
NaN          146940
5 years      139698
4 years      136605
6 years      102628
7 years       92695
8 years       91914
9 years       79395
Name: count, dtype: int64

 [home_ownership] ê³ ìœ ê°’ ëª©ë¡ (NaN í¬í•¨):
home_ownership
MORTGAGE    1111450
RENT         894929
OWN          253057
ANY             996
OTHER           182
NONE             54
NaN              33
Name: count, dtype: int64

 [verification_status] ê³ ìœ ê°’ ëª©ë¡ (NaN í¬í•¨):
verification_status
Source Verified    886231
Not Verified       744806
Verified           629631
NaN                    33
Name: count, dtype: int64

 [purpose] ê³ ìœ ê°’ ëª©ë¡ (NaN í¬í•¨):
purpose
debt_consolidation    1277877
credit_card            516971
home_improvement       150457
other                  139440
major_purchase          50445
medical                 27488
small_business          24689
car                     24013
vacation                15525
moving                  15403
house                   14136
wedding                  2355
renewable_energy         1445
educational               424
NaN                        33
Name: count, dtype: int64

 [emp_title_clean] ê³ ìœ ê°’ ëª©ë¡ (NaN í¬í•¨):
emp_title_clean
NaN                              167002
teacher                           48460
manager                           45852
owner                             33591
registered nurse                  23354
                                  ...
directional pastor                    1
nondestructivetest technician         1
service employee                      1
cms project manager                   1
director it/production                1
Name: count, Length: 411811, dtype: int64

In [65]:
# emp_titleê³¼ emp_title_cleanì„ ë‚˜ë€íˆ ë³´ì—¬ì£¼ê¸° (ì•ë’¤ ê³µë°± ì œê±° ì „í›„ ë¹„êµ)
sample_titles = selected_df[['emp_title', 'emp_title_clean']]

# 'teacher'ê°€ í¬í•¨ëœ ë°ì´í„°ë§Œ í•„í„°ë§í•´ì„œ ë³´ê¸° (ëŒ€ì†Œë¬¸ì ë¬´ì‹œ)
contains_teacher = sample_titles[sample_titles['emp_title_clean'].str.contains('customer service', na=False)]

# ì¤‘ë³µ ì œê±°í•´ì„œ ë³´ê¸°
print("\n customer service  í¬í•¨ëœ ì›ë³¸ emp_title ì¢…ë¥˜:")
print(contains_teacher['emp_title'].dropna().unique())

# í ...ì§ì—… ìˆ˜ê°€ ë§ì€ë°..í†µí•©í•´ì•¼ë˜ë‚˜?? ì§ì—…ì„ ì¤„ì¼ê²½ìš° ì–»ì„ ìˆ˜ ìˆëŠ” ê±´ ë­˜ê¹Œ,,,???/

 customer service  í¬í•¨ëœ ì›ë³¸ emp_title ì¢…ë¥˜:
['Customer Service Manager' 'Customer service' 'SALES / CUSTOMER SERVICE '
 ... 'Customer service medical billinh'
 'Vice President and Customer Service'
 'Customer Service Representative Lead']

ìˆ˜ì§€ë‹˜ì´ ì£¼ì‹  ì½”ë“œë¡œ í™•ì¸í•´ë³´ëŠ” ì§ì—…ìˆ˜ ì´ ì •ë¦¬íŒ

In [73]:
job_keywords = [
    'engineer', 'manager', 'driver', 'teacher', 'analyst',
    'specialist', 'assistant', 'technician', 'sales', 'clerk',
    'developer', 'nurse', 'attorney', 'accountant', 'consultant',
    'coordinator', 'representative', 'supervisor', 'admin', 'operator',
    'director', 'medical', 'finance', 'architect', 'researcher',
    'advisor', 'designer', 'mechanic', 'electrician', 'welder',
    'marketing', 'production', 'training', 'officer', 'business',
    'owner', 'partner', 'president', 'vp',  # 'vp' = ë¶€ì‚¬ì¥
    'executive', 'intern', 'student', 'retired', 'other'  # 'other'ëŠ” íŠ¹ë³„ ì²˜ë¦¬
]

# 'emp_title_clean'ì„ ê¸°ì¤€ìœ¼ë¡œ ì‹œì‘
grouped_emp_title = selected_df['emp_title_clean'].copy()
grouped_emp_title = grouped_emp_title.astype('category')
grouped_emp_title = grouped_emp_title.cat.add_categories(['Other'])  # 'Other' ì¹´í…Œê³ ë¦¬ ì¶”ê°€

# 'rn'ì´ í¬í•¨ë˜ë©´ nurseë¡œ ìš°ì„  ì²˜ë¦¬
rn_condition = grouped_emp_title.str.contains('rn', case=False, na=False)
grouped_emp_title.loc[rn_condition] = 'nurse'

# job_keywordsì— ë”°ë¼ ë¶„ë¥˜
for keyword in job_keywords:
    condition = grouped_emp_title.str.contains(keyword, case=False, na=False)
    grouped_emp_title.loc[condition] = keyword

# ì§€ì •ëœ í‚¤ì›Œë“œ ì™¸ ê°’ì€ 'Other'ë¡œ ì²˜ë¦¬
grouped_emp_title[~grouped_emp_title.isin(job_keywords + ['nurse'])] = 'Other'

# ìƒˆ ì»¬ëŸ¼ìœ¼ë¡œ ì €ì¥
selected_df['emp_title_grouped'] = grouped_emp_title.astype('category')

# --- ê²°ê³¼ í™•ì¸ ---
print(f"--- 'emp_title_grouped' ì»¬ëŸ¼ ê·¸ë£¹í™” ê²°ê³¼ ---")
print(f"ê·¸ë£¹í™” í›„ ê³ ìœ ê°’ ê°œìˆ˜: {selected_df['emp_title_grouped'].nunique()}ê°œ")

print("\nìƒìœ„ 20ê°œ ì§ì—… ë¹ˆë„:")
print(selected_df['emp_title_grouped'].value_counts().head(20))

print("\ní•˜ìœ„ 10ê°œ ì§ì—… ë¹ˆë„:")
print(selected_df['emp_title_grouped'].value_counts().tail(10))

# nurseì™€ Other ì¹´í…Œê³ ë¦¬ í™•ì¸
print("\n'nurse' ì¹´í…Œê³ ë¦¬ ë¹ˆë„:")
if 'nurse' in selected_df['emp_title_grouped'].cat.categories:
    print(selected_df['emp_title_grouped'].value_counts()['nurse'])
else:
    print("'nurse' ì¹´í…Œê³ ë¦¬ ì—†ìŒ.")

print("\n'Other' ì¹´í…Œê³ ë¦¬ ë¹ˆë„:")
if 'Other' in selected_df['emp_title_grouped'].cat.categories:
    print(selected_df['emp_title_grouped'].value_counts()['Other'])
else:
    print("'Other' ì¹´í…Œê³ ë¦¬ ì—†ìŒ.")

--- 'emp_title_grouped' ì»¬ëŸ¼ ê·¸ë£¹í™” ê²°ê³¼ ---
ê·¸ë£¹í™” í›„ ê³ ìœ ê°’ ê°œìˆ˜: 43ê°œ

ìƒìœ„ 20ê°œ ì§ì—… ë¹ˆë„:
emp_title_grouped
Other          941709
manager        305184
nurse           92518
director        71735
engineer        59756
teacher         59279
assistant       58912
supervisor      57069
sales           55260
specialist      54849
driver          52557
analyst         51198
technician      40836
officer         39869
owner           39307
admin           31411
operator        31339
coordinator     30639
president       24645
consultant      18296
Name: count, dtype: int64

í•˜ìœ„ 10ê°œ ì§ì—… ë¹ˆë„:
emp_title_grouped
zytron control products, inc.               0
{owner}truck driver                         0
| principal business solution architect|    0
Ã¥Âšr.  technical illustrator                 0
â€‹associate tech support analyst             0
â€‹financial analyst                          0
â€‹license compliance investigator            0
â€‹senior it field support                    0
ğŸ‘¨â€ğŸ³                                         0
substitute teacher/paraprofessional         0
Name: count, dtype: int64

'nurse' ì¹´í…Œê³ ë¦¬ ë¹ˆë„:
92518

'Other' ì¹´í…Œê³ ë¦¬ ë¹ˆë„:
941709

In [44]:
# emp_lengthì— ë“¤ì–´ê°„ ê°’ë“¤ì˜ ë¹ˆë„ìˆ˜ í™•ì¸ (NaN í¬í•¨)
emp_length_counts = selected_df['purpose'].value_counts(dropna=False)

print(" purpose  ê°’ë³„ ê°œìˆ˜:")
print(emp_length_counts)

 purpose  ê°’ë³„ ê°œìˆ˜:
purpose
debt_consolidation    1277877
credit_card            516971
home_improvement       150457
other                  139440
major_purchase          50445
medical                 27488
small_business          24689
car                     24013
vacation                15525
moving                  15403
house                   14136
wedding                  2355
renewable_energy         1445
educational               424
NaN                        33
Name: count, dtype: int64

In [ ]:
df.head()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
id,,,,,,,,,,,,,,,,,,,,,
68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,leadman,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,Engineer,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,truck driver,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,Information Systems Officer,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,Contract Specialist,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# ë°ì´í„°í”„ë ˆì„ ì „ì²´ ì •ë³´ (ê²°ì¸¡ì¹˜, íƒ€ì… ë“±)
df.info()

# ìˆ˜ì¹˜í˜• ì»¬ëŸ¼ì— ëŒ€í•œ í†µê³„ ìš”ì•½
# Total amount funded in policy code 2: 521953170 ë¬¸ìì—´ì´ ìˆìŒ(ë§ˆì§€ë§‰ í–‰ì„ df.taill()ìœ¼ë¡œ ì‚­ì œí•˜ê¸°)
df.describe()

# ë²”ì£¼í˜• ë³€ìˆ˜ ë¶„í¬ í™•ì¸
df.select_dtypes(include='object').describe()

<class 'pandas.core.frame.DataFrame'>
Index: 2260701 entries, 68407277 to Total amount funded in policy code 2: 521953170
Columns: 150 entries, member_id to settlement_term
dtypes: float64(113), object(37)
memory usage: 2.5+ GB

,term,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,...,hardship_status,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_loan_status,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date
count,2260668,2260668,2260668,2093699,2113761,2260668,2260668,2260668,2260668,2260668,...,10917,10917,10917,10917,10917,2260668,2260668,34246,34246,34246
unique,2,7,35,512694,11,6,3,139,9,2,...,3,27,28,27,5,2,2,83,3,90
top,36 months,B,C1,Teacher,10+ years,MORTGAGE,Source Verified,Mar-2016,Fully Paid,n,...,COMPLETED,Sep-2017,Dec-2017,Sep-2017,Late (16-30 days),Cash,N,Feb-2019,ACTIVE,Jan-2019
freq,1609754,663557,145903,38824,748005,1111450,886231,61992,1076751,2260048,...,7819,2444,1756,1715,4770,2182546,2226422,2606,14704,1710

In [4]:
for col in df.columns:
    print(col)

member_id
loan_amnt
funded_amnt
funded_amnt_inv
term
int_rate
installment
grade
sub_grade
emp_title
emp_length
home_ownership
annual_inc
verification_status
issue_d
loan_status
pymnt_plan
url
desc
purpose
title
zip_code
addr_state
dti
delinq_2yrs
earliest_cr_line
fico_range_low
fico_range_high
inq_last_6mths
mths_since_last_delinq
mths_since_last_record
open_acc
pub_rec
revol_bal
revol_util
total_acc
initial_list_status
out_prncp
out_prncp_inv
total_pymnt
total_pymnt_inv
total_rec_prncp
total_rec_int
total_rec_late_fee
recoveries
collection_recovery_fee
last_pymnt_d
last_pymnt_amnt
next_pymnt_d
last_credit_pull_d
last_fico_range_high
last_fico_range_low
collections_12_mths_ex_med
mths_since_last_major_derog
policy_code
application_type
annual_inc_joint
dti_joint
verification_status_joint
acc_now_delinq
tot_coll_amt
tot_cur_bal
open_acc_6m
open_act_il
open_il_12m
open_il_24m
mths_since_rcnt_il
total_bal_il
il_util
open_rv_12m
open_rv_24m
max_bal_bc
all_util
total_rev_hi_lim
inq_fi
total_cu_tl
inq_last_12m
acc_open_past_24mths
avg_cur_bal
bc_open_to_buy
bc_util
chargeoff_within_12_mths
delinq_amnt
mo_sin_old_il_acct
mo_sin_old_rev_tl_op
mo_sin_rcnt_rev_tl_op
mo_sin_rcnt_tl
mort_acc
mths_since_recent_bc
mths_since_recent_bc_dlq
mths_since_recent_inq
mths_since_recent_revol_delinq
num_accts_ever_120_pd
num_actv_bc_tl
num_actv_rev_tl
num_bc_sats
num_bc_tl
num_il_tl
num_op_rev_tl
num_rev_accts
num_rev_tl_bal_gt_0
num_sats
num_tl_120dpd_2m
num_tl_30dpd
num_tl_90g_dpd_24m
num_tl_op_past_12m
pct_tl_nvr_dlq
percent_bc_gt_75
pub_rec_bankruptcies
tax_liens
tot_hi_cred_lim
total_bal_ex_mort
total_bc_limit
total_il_high_credit_limit
revol_bal_joint
sec_app_fico_range_low
sec_app_fico_range_high
sec_app_earliest_cr_line
sec_app_inq_last_6mths
sec_app_mort_acc
sec_app_open_acc
sec_app_revol_util
sec_app_open_act_il
sec_app_num_rev_accts
sec_app_chargeoff_within_12_mths
sec_app_collections_12_mths_ex_med
sec_app_mths_since_last_major_derog
hardship_flag
hardship_type
hardship_reason
hardship_status
deferral_term
hardship_amount
hardship_start_date
hardship_end_date
payment_plan_start_date
hardship_length
hardship_dpd
hardship_loan_status
orig_projected_additional_accrued_interest
hardship_payoff_balance_amount
hardship_last_payment_amount
disbursement_method
debt_settlement_flag
debt_settlement_flag_date
settlement_status
settlement_date
settlement_amount
settlement_percentage
settlement_term

In [6]:
'pub_rec_bankruptcies' in df.columns

True

In [5]:
'public_rec' in df.columns

False

In [8]:
'mths_since_last_delinq'in df.columns

True